<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HumanApocalypseAtlas/businessman.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1592},{111,498}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,22},{111,498}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{187,498}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{187,498}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1009},{175,498}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{175,498}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,509},{237,498}}</string>
                <key>offset</key>
                <string>{-42,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{237,498}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{187,498}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{187,498}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1592},{111,498}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,22},{111,498}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,502},{168,497}}</string>
                <key>offset</key>
                <string>{48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,26},{168,497}}</string>
                <key>sourceSize</key>
                <string>{328,539}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1033},{188,501}}</string>
                <key>offset</key>
                <string>{25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,26},{188,501}}</string>
                <key>sourceSize</key>
                <string>{328,539}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1009},{288,497}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{288,497}}</string>
                <key>sourceSize</key>
                <string>{328,539}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{222,505}}</string>
                <key>offset</key>
                <string>{53,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,26},{222,505}}</string>
                <key>sourceSize</key>
                <string>{328,539}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{138,507}}</string>
                <key>offset</key>
                <string>{35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,26},{138,507}}</string>
                <key>sourceSize</key>
                <string>{328,539}</string>
            </dict>
            <key>HumanApocalypseAtlas/businessman_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,526},{290,505}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{290,505}}</string>
                <key>sourceSize</key>
                <string>{328,539}</string>
            </dict>
            <key>HumanApocalypseAtlas/button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,396},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>HumanApocalypseAtlas/gamepad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1509},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,566},{180,396}}</string>
                <key>offset</key>
                <string>{97,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,131},{180,396}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1124},{334,392}}</string>
                <key>offset</key>
                <string>{20,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,131},{334,392}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,748},{374,392}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,131},{374,392}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,532},{186,524}}</string>
                <key>offset</key>
                <string>{94,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,0},{186,524}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,2},{378,428}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,95},{378,428}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{356,392}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,131},{356,392}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,566},{182,396}}</string>
                <key>offset</key>
                <string>{99,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,131},{182,396}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,382},{182,396}}</string>
                <key>offset</key>
                <string>{96,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,132},{182,396}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1508},{182,396}}</string>
                <key>offset</key>
                <string>{96,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,132},{182,396}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1124},{180,392}}</string>
                <key>offset</key>
                <string>{97,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,131},{180,392}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1518},{176,390}}</string>
                <key>offset</key>
                <string>{99,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,133},{176,390}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/grandma_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1124},{180,392}}</string>
                <key>offset</key>
                <string>{97,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,131},{180,392}}</string>
                <key>sourceSize</key>
                <string>{386,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{133,528}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{133,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,532},{201,528}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{201,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1062},{177,528}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{177,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{235,528}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{235,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,532},{201,528}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{201,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{133,528}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{133,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{155,528}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{155,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,528}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{265,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1062},{211,528}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{211,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1058},{169,522}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{169,522}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{257,522}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{257,522}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
            <key>HumanApocalypseAtlas/zombie_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{221,528}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,528}}</string>
                <key>sourceSize</key>
                <string>{321,528}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>humanApocalypse-hd.png</string>
            <key>size</key>
            <string>{2046,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d489d59fe1938c452ceead32d6fa4ece:b2c2cf076368d5a1cc7ff6a897cb6851:d6bf9432490359a08c1174a3ace5e9fc$</string>
            <key>textureFileName</key>
            <string>humanApocalypse-hd.png</string>
        </dict>
    </dict>
</plist>
